<div class="headerTopBar pt-4">
  <div class="headerTitles col-12 fw-bold">
    <div class="d-flex text-uppercase ff-poto fs-24 fs-xl-32">
      <img class="mx-auto" src="assets/images/logo.svg">
    </div>
  </div>
</div>

<div class="col containerForm ff-mulish container col-12 col-xl-4 mt-2 p-4">

  <div class="logoError position-relative text-center">
    <img class="mx-auto width-120" src="assets/images/error.svg">
  </div>

  <div class="title text-center fs-40 ff-poto ff-white mt-3">Oups</div>

  <div class="fs-18 text-center ff-mulish mb-2 text-white">
    Une petite erreur s'est glissée sur votre chemin.
  </div>

  <div class="fs-18 text-center ff-mulish mb-2 text-white">
    Veuillez faire une nouvelle tentative ou nous contacter si cela perdure.
  </div>

  <div class="text-decoration-underline fs-16 text-center ff-mulish mb-5 color-basic-05">
    Contactez le service client
  </div>

</div>
