<nav class="navbar cursor-pointer text-white navbar-expand-lg " id="navbar" >
    <div class="nav-link me-2" routerLink="auth/login">Login</div>
    <div class="nav-link me-2" routerLink="auth/logout">Logout</div>
    <div class="nav-link me-2" routerLink="auth/modify">Modify</div>
    <div class="nav-link me-2" routerLink="auth/delete-profile">Delete</div>
    <div class="nav-link me-2" routerLink="auth/forgot-password">ForgotPassword</div>
    <div class="nav-link me-2" routerLink="auth/delete-profile">DeleteProfile</div>
    <div class="nav-link me-2" routerLink="product/display">Boutique</div>
    <div class="nav-link me-2" routerLink="product/create">CreateProduct</div>
    <div class="nav-link me-2" routerLink="product/panier">Panier</div>
</nav>
